{% comment %}

  Comments will not appear right after they are submitted, either to be checked for spam
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that includes the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372

  More information:
    - http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %}

<article class="blog-article" itemscope itemtype="http://schema.org/Article">

  <header class="header-block">
    <div class="tags">
      {{ article.tags | first | link_to_tag: article.tags.first }}
    </div>
    <h2>{{ article.title }}</h2>
    <div class="article-meta">
      By {{ article.author }}
      <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
        {{ article.published_at | date: '%b %d, %Y' }}
      </time>
    </div>
  </header>
  <div class="image-block">
    {{ article.image | img_url: '1024x1024' | img_tag }}
  </div>

  <div class="body-block" itemprop="articleBody">
    {{ article.content }}
  </div>

  <div class="blog-share-block">
    <div class="label">Share This:</div>
    {% include 'social-sharing-buttons' %}
  </div>

  <div class="newsletter-signup-row">
    {% include 'newsletter-signup-block' %}
  </div>

  <div class="pagination-row">
    <div class="back-block">
      <a class="back-link" href="{{ blog.url }}">Back to Index</a>
    </div>
  </div>

</article>
