{% comment %}

For more information on collection tags:
- http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}
<div class="product-grid-hero">
  <div class="wrapper">

    {% assign all_items_label = 'All Collections' %}
    {% include 'product-grid-filters' %}

    <div class="hero-body">
      {% paginate collection.products by 4 %}

      {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
      {% endcomment %}

      {% comment %}
      Loop through our products in the current collection.
      See the snippet 'product-grid-item' for the layout.
      {% endcomment %}

      <div id="collection-items"
           data-page-number="{{ paginate.current_page }}"
           data-current-page-offset="{{ paginate.current_offset }}"
           data-page-size="{{ paginate.page_size }}"
           data-total-pages="{{ paginate.pages }}"
           data-total-items="{{ paginate.items }}"
           data-has-next-page="{% if paginate.next %}true{% else %}false{% endif %}"
           {% if paginate.next %}
           data-next-page-url="{{ paginate.next.url }}"
           {% endif %}
           >
        {% for product in collection.products %}

          {% include 'lookbook-grid-item' %}

        {% else %}{% comment %}for loops in liquid may have an else statement if the collection is empty{% endcomment %}

          <div class="grid-item">
            <p>Sorry, there are no products matching your search.</p>
          </div>

        {% endfor %}
      </div>

      <div class="loading-image-block js-hidden">
        <img src="{{ 'loading.gif' | asset_url }}" />
      </div>

      {% include 'pagination-block' %}

      <div class="back-to-top-block js-hidden">
        <a data-scroll class="back-to-top-link" href="#top">Back to Top</a>
      </div>

      <div class="modal-content-block js-hidden" id="lookbook-gallery-modal">
        <div class="vex-content-inner lookbook-modal">
          <div class="lookbook-carousel">

          </div>
        </div>
      </div>

    {% endpaginate %}
    </div>

  </div>
</div>

<script id="lookbook-modal-carousel-template" type="text/x-handlebars-template">
  <div class="vex-content-inner lookbook-modal">
    <div class="lookbook-carousel">
    </div>
  </div>
</script>

<script id="lookbook-carousel-slide-template" type="text/x-handlebars-template">
  <div class="lookbook-carousel-slide" id="{% raw %}{{itemId}}{% endraw %}" data-item-index="{% raw %}{{itemIndex}}{% endraw %}">

    <div class="lookbook-slide-header">
      <h3>{% raw %}{{title}}{% endraw %}</h3>
    </div>
    <div class="lookbook-slide-body">

      <div class="image-block">
        <div class="block-inner">
          <img src="{% raw %}{{imageUrl}}{% endraw %}"
               class="lookbook-carousel-slide-image">
        </div>
      </div>

      <div class="lookbook-slide-meta">
        <div class="call-to-action-row">
          {% include 'lookbook-modal-cta-link', link_class: 'desktop-button' %}
          {% include 'lookbook-modal-cta-link', link_class: 'mobile-link' %}
        </div>
        <div class="product-meta-row">
          <div>
            <strong>Style:</strong>
            {% raw %}{{styleNumber}}{% endraw %}
          </div>
          <div>
            {% comment %}
            <!--
            TODO It needs to be able to parse the pin it button after it gets added to the carousel
            However when I do that it creates a bookmark pin that allows for pinning all the images on the page rather
            thant the single image that is specified in the media query variable.
            https://developers.pinterest.com/docs/widgets/pin-it/
            -->
            <a data-pin-do="buttonPin"
               href="//www.pinterest.com/pin/create/button/?url={% raw %}{{pageUrlEncoded}}{% endraw %}&media={% raw %}{{imageUrlEncoded}}{% endraw %}&description={% raw %}{{descriptionEncoded}}{% endraw %}">
              <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
            </a
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>

  </div>
</script>

<hr class="hr-4-col" />

{% include 'social-link-newsletter-hero' %}


