<style>

  {% comment %}These are the namespace keys for each of the slides in the collection metafields{% endcomment %}
    {% assign slide_names = 'slide1 slide2 slide3 slide4 slide5' | split: ' ' %}
    {% for slide_name in slide_names %}
    {% assign slide = collection.metafields[slide_name] %}
    {% unless slide.empty? %}
    .hero-{{ slide_name }} {
        background-image: url('{{ slide.desktop }}');
    }

    @media screen and (min-width: 481px) and (max-width: 1024px){
        .hero-{{ slide_name }} {
            background-image: url('{{ slide.tablet }}');
        }
    }

    @media screen and (max-width: 480px){
        .hero-{{ slide_name }} {
            background-image: url('{{ slide.mobile }}');
        }
    }
    {% endunless %}{% endfor %}

    {% if collection.metafields.other_images.desktop_hero != blank %}
    {% assign other_images = collection.metafields.other_images %}

    .collection-page-hero,
    .shop-page-hero {
        background-image: url('{{ other_images.desktop_hero }}');
    }

    @media screen and (min-width: 481px) and (max-width: 1024px){
        .collection-page-hero,
        .shop-page-hero {
            background-image: url('{{ other_images.tablet_hero }}');
        }
    }

    @media screen and (max-width: 480px){
        .collection-page-hero,
        .shop-page-hero {
            background-image: url('{{ other_images.mobile_hero }}');
        }
    }
    {% endif %}
    {% if collection.metafields.hero.headingColor != blank %}
    .collection-page-hero h2,
    .shop-page-hero h2 {
        color: {{ collection.metafields.hero.headingColor }};
    }
    {% endif %}

    {% if collection.metafields.hero.hideHeading == 'true' %}
    .collection-page-hero .content,
    .collection-page-hero .content {
        display: none;
    }
    {% endif %}

    {% if collection.metafields.hero.centerBackground == 'true' %}
    .collection-page-hero,
    .shop-page-hero {
        background-position: top center !important;
    }
    {% endif %}
</style>

{% if collection.metafields.other_images.desktop_hero != blank or collection.metafields.slide1.desktop != blank %}
  <div id="top" class="{% if collection.handle == 'shop' %}shop-page-hero{% else %}collection-page-hero{% endif %}">
    {% if collection.metafields.slide1.desktop != blank %}
      <div class="collection-hero-carousel">
        {% for slide_name in slide_names %}
          {% unless collection.metafields[slide_name].desktop == blank %}
            <div class="hero-slide hero-{{ slide_name }}"></div>
          {% endunless %}
        {% endfor %}
      </div>
    {% else %}
      <div class="wrapper"></div>
    {% endif %}
  </div>
{% endif %}
