<div class="sub-menu-column">
  <!-- these are the tags that are present in this collection -->
  {% for c in sub-menu-categories %}{% assign cat = c | strip %}{% if coll.tags contains cat %}
    <a class="sub-menu-link" href="{{ coll.url }}/{{ cat | handle }}">{{ cat }}</a>
  {% endif %}{% endfor %}
  {% if is_blog_submenu %}
    {% for tag in blogs.blog.all_tags %}
      <a class="sub-menu-link" href="/blogs/blog/tagged/{{ tag | handle }}">{{ tag }}</a>
    {% endfor %}
    <a class="sub-menu-link" href="/blogs/blog/">View All</a>
  {% elsif coll.handle == 'bridal' %}
    {% for link in linklists.bridal-menu.links %}
      <a class="sub-menu-link" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  {% elsif coll %}
    <a class="sub-menu-link mobile-view-all-link" href="{{ coll.url }}">View All</a>
  {% endif %}
</div>
