
{% if section.blocks.size > 0 %}
<div style="height:100px">
  <div id="carousel-{{ section.id }}" class="carousel" data-slick='{"autoplay": true, "autoplaySpeed": {{ section.settings.slider_speed }} }'>
    {% for block in section.blocks %}
        <div class="carousel-slide--{{ block.id }}" style="width:100%">
            {% if block.settings.carousel_image != blank %}
                    <img class="carousel_image" src="{{ block.settings.carousel_image | img_url: '1920x' }}">
            {% endif %}

<!-- Can have a default image when a new slide is created with with an image -->
<!--             {% if block.settings.carousel_image == blank %}
                <img class="carousel_image" src="" >
            {% endif %} -->
        </div>
    {% endfor %}
  </div>
  <div class="content">
    <div>
      <h2>{{ section.settings.hero_text }}</h2>
      <a href="{{ section.settings.hero_cta_link }}">
        {{ section.settings.hero_cta_text }}
      </a>
    </div>
  </div>

</div>
{% endif %}

{% schema %}
  {
    "name": "Slideshow",
    "class": "homepage-collection-hero-new",
    "settings": [
      {
        "type": "text",
        "id": "hero_text",
        "label": "Text",
        "default": "Welcome to our store"
      },
      {
        "type": "text",
        "id": "hero_cta_text",
        "label": "CTA Text",
        "default": "Our Products"
      },
      {
        "type": "url",
        "id": "hero_cta_link",
        "label": "CTA Link"
      },
      {
        "type": "text",
        "id": "slider_speed",
        "label": "Slider speed"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "carousel_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "hero_image_portrait_focusX",
            "label": "Portrait Focus Point X"
          },
          {
            "type": "text",
            "id": "hero_image_portrait_focusY",
            "label": "Portrait Focus Point Y"
          }
        ]
      }
    ],
    "presets": [{
      "name": "carousel",
      "category": "Image",
      "settings": {

  },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}

{% stylesheet %}

  .slick-next,.slick-prev{top:auto;bottom:35%;z-index:999}
  .slick-prev{left:37%}
  .slick-next{right:37%}

  .carousel_image {
    width:100%;
    display:inline-block;
    z-index:0;
  }

{% endstylesheet %}



{% javascript %}
{% endjavascript %}