    <div class="block-navigation-column">
      <div class="inner">

        <div id="block-navigation-video-player" class="block-navigation-video-player">
          <div class="image"></div>
          <div class="overlay">

          </div>
          <div class="content">
            <div class="content-title-wrapper">
              <h3>
                {{ section.settings.line_1 }}<br>{{ section.settings.line_2 }}
              </h3>
            </div>
            <a href="#" class="play-link js-play-video"></a>
          </div>

          <div id="block-navigation-video-container" class="block-navigation-video-container hidden">
            {% comment %}
            if the player iframe has an id then you need to pass it in the url for the api to work.
            http://stackoverflow.com/questions/6537415/vimeo-froogaloop-api-not-recognizing-an-event
            {% endcomment %}
            {% assign vimeo_player_id = "homepage-video-player" %}
            {% assign vimeo_video_id = "{{ section.settings.vimeo_id }}" %}
            <iframe src="https://player.vimeo.com/video/{{ vimeo_video_id }}?title=0&byline=0&portrait=0&player_id={{ vimeo_player_id }}"
                    id="{{ vimeo_player_id }}"
                    frameborder="0" width="100%" height="100%"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>


        {% comment %}
        <a class="block-navigation-link-shop" href="/collections/shop/new-arrivals">
          <div class="image"></div>
          <div class="overlay"></div>
          <div class="content">
            <h3>
              Shop<br/>New Arrivals
            </h3>
          </div>
        </a>
        {% endcomment %}

      </div>
    </div>

{% schema %}
  {
    "name": "Video",
    "class": "homepage-collection-video-new",
    "settings": [
      {
        "type": "text",
        "id": "line_1",
        "label": "Line 1",
        "default": "Spring 2018"
      },
      {
        "type": "text",
        "id": "line_2",
        "label": "Line 2",
        "default": "Bridal Runway Show"
      },
      {
        "type": "text",
        "id": "Vimeo_id",
        "label": "Vimeo Video ID",
        "default": "214503954"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
