<div class="block-navigation-column">
      <div class="inner">
{% for block in section.blocks %}
{% if block.type == 'image' %}

        <a class="block-navigation-link-bridal" href="{{ section.settings.picture_url }}">
          <div class="image"></div>
          <div class="overlay"></div>
          <div class="content">
            <h3>
              {{ section.settings.line_1 }}<br/>{{ section.settings.line_2 }}
            </h3>
          </div>
        </a>

      </div>
    </div>

 
{% elsif block.type == 'video' %}


        <div id="block-navigation-video-player" class="block-navigation-video-player">
          <div class="image"></div>
          <div class="overlay">

          </div>
          <div class="content">
            <div class="content-title-wrapper">
              <h3>
                {{ section.settings.line_1 }}<br>{{ section.settings.line_2 }}
              </h3>
            </div>
            <a href="#" class="play-link js-play-video"></a>
          </div>

          <div id="block-navigation-video-container" class="block-navigation-video-container hidden">
            
            {% assign vimeo_player_id = "homepage-video-player" %}
            {% assign vimeo_video_id = "{{ section.settings.vimeo_id }}" %}
            <iframe src="https://player.vimeo.com/video/{{ vimeo_video_id }}?title=0&byline=0&portrait=0&player_id={{ vimeo_player_id }}"
                    id="{{ vimeo_player_id }}"
                    frameborder="0" width="100%" height="100%"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

   
 {% endif %}
{% endfor %}

   </div>
    </div>


{% schema %}
  {
    "name": "Content",
    "max_blocks": 2,
    "blocks": [
    	{
        "type": "image",
        "name": "Image",
        "limit": 2,
		    "settings": [
          {
            "type": "text",
            "id": "ine_1",
            "label": "Line 1",
            "default": "Browse Our"
          },
          {
            "type": "text",
            "id": "line_2",
            "label": "Line 2",
            "default": "Bridal Collection"
          },
          {
            "type": "text",
            "id": "picture_url",
            "label": "Relative Link",
            "default": "/collections/bridal/lookbook/"
          }
        ]
      },
	    {
        "type": "video",
        "name": "Video",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "line_1",
            "label": "Line 1",
            "default": "Spring 2018"
          },
          {
            "type": "text",
            "id": "line_2",
            "label": "Line 2",
            "default": "Bridal Runway Show"
          },
          {
            "type": "text",
            "id": "Vimeo_id",
            "label": "Vimeo Video ID",
            "default": "214503954"
          }
        ]
      }	
	  ]
  }
    
{% endschema %}
