
{% if section.blocks.size > 0 %}
  <div class="inner">
    <div id="carousel-{{ section.id }}" class="carousel" data-slick='{"autoplay": true, "adaptiveHeight":false, "autoplaySpeed": {{ section.settings.slider_speed }} }'>
      {% for block in section.blocks %}
        <div id ="image-{{ block.id }}" class="carousel-slide">
          <div class="content">
            <div>
              <h2>{{ block.settings.hero_text }}</h2>
              <a href="{{ section.settings.hero_cta_link }}">
                {{ block.settings.hero_cta_text }}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<style type="text/css" media="screen">
  {% for block in section.blocks %}
    .homepage-collection-hero-new #image-{{ block.id }}{
      z-index:0;
      background-image: url("{{ block.settings.hero_image_landscape | img_url: '1920x' }}");
      background-position: {{ block.settings.hero_image_landscape_focusX }}% {{ block.settings.hero_image_landscape_focusY }}%;
    }
    @media screen and (max-width: 768px) and (max-aspect-ratio: 1/1){
      .homepage-collection-hero-new #image-{{ block.id }}{
        z-index:0;
        background-image: url("{{ block.settings.hero_image_portrait | img_url: '1080x' }}");
        background-position: {{ block.settings.hero_image_portrait_focusX }}% {{ block.settings.hero_image_portrait_focusY }}%;
      }
    }
  {% endfor %}
</style>

{% schema %}
  {
    "name": "Slideshow",
    "class": "homepage-collection-hero-new",
    "settings": [
      {
        "type": "text",
        "id": "slider_speed",
        "label": "Slider speed"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "hero_image_landscape",
            "label": "Landscape Image",
            "info": "Used for landscape orientation displays (desktops)."
          },
          {
            "type": "text",
            "id": "hero_image_landscape_focusX",
            "label": "Landscape Focus Point X"
          },
          {
            "type": "text",
            "id": "hero_image_landscape_focusY",
            "label": "Landscape Focus Point Y"
          },
          {
            "type": "image_picker",
            "id": "hero_image_portrait",
            "label": "Portrait Image",
            "info": "Used for portrait orientation displays (phones, etc.),"
          },
          {
            "type": "text",
            "id": "hero_image_portrait_focusX",
            "label": "Portrait Focus Point X"
          },
          {
            "type": "text",
            "id": "hero_image_portrait_focusY",
            "label": "Portrait Focus Point Y"
          },
          {
            "type": "text",
            "id": "hero_text",
            "label": "Hero Text",
            "default": "Welcome to our store"
          },
          {
            "type": "text",
            "id": "hero_cta_text",
            "label": "CTA Text",
            "default": "Our Products"
          },
          {
            "type": "url",
            "id": "hero_cta_link",
            "label": "CTA Link"
          }
        ]
      }
    ],
    "presets": [{
      "name": "carousel",
      "category": "Image",
      "settings": {},
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}

{% javascript %}

  $(document).ready(function(){
    resizeCarouselSize();
  });

  $(window).bind('resize', function () {
    resizeCarouselSize();
  });

  function resizeCarouselSize() {
    var innerHeight = $( ".inner" ).height();
    $( ".carousel" ).height(innerHeight);
    $( ".carousel-slide" ).height(innerHeight);
  }

{% endjavascript %}